<a href="https://colab.research.google.com/github/Vishal8848/machine-learning/blob/main/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Machine Learning Contents:

1. Creating Colab in **Drive**
2. Connecting Repo to **GitHub**
3. Making **Kaggle** Available Online
4. Lively Access to **Kaggle** Datasets
5. Extract Required Datasets
  - Video Game Sales - *vgsales.csv*
6. Pandas - Managing Dataframes

In [ ]:
#1 - Creating Colab in Drive
print('Google Colab Created in Drive')

Google Colab Created in Drive

In [ ]:
#2 - Connecting Repo to GitHub
print('Connected to GitHub @ Vishal8848')

Connected to GitHub @ Vishal8848

In [ ]:
#3 - Making Kaggle Available Online

# Installing Kaggle
! pip install -q kaggle

In [ ]:
# Upload kaggle.json File
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"vp8848","key":"55fb49a30117a3600d9594f63ed1c9ae"}'}

In [ ]:
# Create Kaggle Folder
! mkdir ~/.kaggle

In [ ]:
# Copy kaggle.json File to Kaggle Folder
! cp kaggle.json ~/.kaggle

# Check If kaggle.json Exists
! ls -a ~/.kaggle

.  ..  kaggle.json

In [ ]:
# Grant Permission to Access JSON
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
#4 - Lively Access Kaggle Datasets

# List Availabe Datasets
! kaggle datasets list

ref                                                            title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
datasets/piterfm/2022-ukraine-russian-war                      2022 Ukraine Russia War                            2KB  2022-04-15 10:13:05           8538        476  1.0
datasets/kamilpytlak/personal-key-indicators-of-heart-disease  Personal Key Indicators of Heart Disease           3MB  2022-02-16 10:18:03          14042        305  1.0
datasets/ankanhore545/cost-of-living-index-2022                Cost of Living Index 2022                          4KB  2022-04-09 06:22:10           2721         51  0.8235294
datasets/prasertk/best-tv-shows-of-all-time                    Best TV shows of all time                        571KB  2022-04-05 04:06:09            759         30  1.0
datasets/prasertk/historical-commodity-prices-from-20002022    Major commodity prices from 2000-2022            399KB  2022-04-09 15:32:08           1131         30  1.0
datasets/vivek468/superstore-dataset-final                     Superstore Dataset                               550KB  2022-02-17 11:33:07           9864        190  1.0
datasets/xhlulu/cpc-codes                                      Cooperative Patent Classification Codes Meaning    5MB  2022-03-22 03:04:36            640         81  1.0
datasets/amandam1/twitter-daily-stock-prices-20132022          Twitter Daily Stock Prices 2013-2022              39KB  2022-04-06 01:36:58            497         25  1.0
datasets/kuchhbhi/latest-laptop-price-list                     Laptop Specs and latest price                     18KB  2022-04-03 17:41:17           1430         44  1.0
datasets/prasertk/major-social-media-stock-prices-20122022     Major social media stock prices 2012-2022        175KB  2022-04-07 08:04:53            525         27  1.0
datasets/ivanchvez/causes-of-death-our-world-in-data           Causes of Death - Our World In Data                1MB  2022-03-29 18:35:21           1330         32  0.9705882
datasets/ashishjangra27/ted-talks                              TED Talks                                        298KB  2022-02-23 15:16:08           4669        200  1.0
datasets/disham993/9000-movies-dataset                         9000+ Movies Dataset                               2MB  2022-03-11 17:09:22           1508         32  1.0
datasets/kkhandekar/stolen-vehicle-dataset                     Stolen Vehicle Dataset                            46KB  2022-04-05 21:49:11            486         28  1.0
datasets/bhanuprasanna527/stock-market-prediction              IBM - Real Time Stock Analysis                     3MB  2022-03-26 10:07:31            819         28  0.9411765
datasets/prasertk/healthy-lifestyle-cities-report-2021         Healthy Lifestyle Cities Report 2021               2KB  2022-03-03 00:26:02           4665        124  1.0
datasets/vardhansiramdasu/fraudulent-transactions-prediction   Fraudulent Transactions Prediction               178MB  2022-03-21 16:08:45           1674         48  1.0
datasets/ajaypalsinghlo/world-happiness-report-2022            world happiness report 2022                        5KB  2022-03-21 13:41:15           1919         46  0.9705882
datasets/datahackers/state-of-data-2021                        State of Data Brazil 2021                        539KB  2022-03-31 18:48:28            228         84  0.9705882
datasets/equinxx/spotify-top-50-songs-in-2021                  Spotify top 50 songs in 2021                       4KB  2022-03-17 22:59:45           2615         64  1.0

In [ ]:
#5 - Extract Required Dataset - Video Game Sales (vgsales.csv)

# Download .zip File
! kaggle datasets download -d gregorut/videogamesales

# Unzip Dataset
! unzip videogamesales.zip

Downloading videogamesales.zip to /content
  0% 0.00/381k [00:00<?, ?B/s]
100% 381k/381k [00:00<00:00, 97.3MB/s]
Archive:  videogamesales.zip
  inflating: vgsales.csv

In [ ]:
#6 - Pandas: Managing Dataframes

import pandas as pd

# Read CSV
df = pd.read_csv('vgsales.csv')

print(df.shape) # print(df)

df.describe()

(16598, 11)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000